/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Big Shoulders Text', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration:none;
    list-style: none;
}
:root {
    --main-color: rgb(255, 98, 1);
    --text-color: rgb(255, 116, 29);
    --bg-color: #ffffff;
    --container-color: #dbdbdb;
  }
  
body{
    color: var(--text-color);
    background: var(--bg-color);
    
}
img{
    width: 100%;
}
section{
    padding: 4rem 0 2rem;
}
.container{
    max-width: 1070px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
#menu-icon{
    font-size: 28px;
    cursor: pointer;
    color: var(--main-color);
    display: none;
}
.logo{
    font-size: 1.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    -webkit-text-stroke: 0.05px #FFF;
}
.nav-link{
    font-size: 1.025rem;
    color: var(--main-color);
    font-weight: 700;
}
#cart-icon{
    position: relative;
    font-size: 1.8rem;
    color: var(--main-color);
    cursor: pointer;
}
#cart-icon[data-quantity="0"]::after{
    content: "";
}
#cart-icon[data-quantity]::after{
    content: attr(data-quantity);
    position: absolute;
    top: 0;
    right: -11px;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    color: var(--bg-color);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    position: relative;
    /* background: #ffffff; */
    min-height: 600px;
}
.home-img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}
.home-img img{
    max-width: 700px;
    width: 100%;
}
 .home-img::before{
    content: " fame ";
    font-size: 9rem;
    font-weight: 900;
    margin-top: -350px;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    color: var(--main-color);
    z-index: -1;
} 



/* sugata.html */
.home4{
    position: relative;
    min-height: 500px;
    background: none;
}
.home-img4{
    width: 100%;
    position:relative;
    top: 100px;
    bottom: 0;
    left: 47%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}
.home-img4 img{
    max-width: 700px;
    width: 100%;
}
 .home-img4::before{
    content: " sugata";
    font-size: 13rem;
    font-weight: 1000;
    margin-top: 100px;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    color:rgb(237, 233, 9);
    z-index: -1;
} 


.heading{
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin: 50px;
}
.product-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.product-title{
    font-size: 1.25rem;
    font-weight: 600;
    color:rgb(237, 233, 9);
    margin: 0.8rem 0 0.5rem;
}

.cart-container{
    margin-top: 3rem !important;
}
.back-homepage .bx{
    font-size: 24px;
    color: rgb(237, 233, 9);
}
.back-homepage span{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(237, 233, 9);
}
.cart-s-title{
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
.cart-box{
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem;
}
#cartItems{
    display: grid;
    row-gap: 1rem;
}
.cart-item{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
    align-items: center;
    border-bottom: 1px solid #f2f0f1;
    padding-bottom: 10px;
}
.cart-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.cart-item-title{
    font-size: 1.3rem;
}
.cart-item-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.8rem;
    text-align: center;
    border-radius: 4px;
    margin-top: 0.5rem;
    font-size: 1rem;
}
.cart-item-price{
    font-size: 1.3rem;
}
.remove-from-cart{
    max-width: 80px;
    font-weight: 700;
    border: none;
    background: red;
    color: var(--bg-color);
    padding: 8px;
}
.cart-t{
    display: flex;
    flex-direction: column;
}
#cartTotal{
    font-size: 2rem;
    font-weight: 600;
}
.checkout-btn{
    margin-top: 2rem;
    background: var(--main-color);
    color: var(--bg-color);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 150px;
}


/* 商品詳細ページ */

/* 
.product-details {
    display: flex;
    
} */

.product-details img {
    width: 500px;
    margin-top: 90px;
    margin-right: 50px;
}

.product-details h2{
    font-size: 40px; /* 30pxに対応するremの値 */
    color: rgb(255, 98, 1);
    margin-top: -400px;
    margin-left: 600px;
    
}
.product-details p  {
    font-size: 2rem;
    color: rgb(255, 98, 1);
    margin-top: 50px;
    margin-left: 600px;
}
.size-select {
    color: rgb(255, 98, 1);
   margin-left: 600px;
    font-size: 30px;
    
}   

.add-btn  a{
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 40px;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 0px;
    cursor: pointer;
}

.item-products h2{
    margin-top: 19px;
    font-size: larger;
}
/* 商品詳細内の画像 */
.product-details img{
    width: 400px;
}

.product-title a {
    color: rgb(255, 98, 1); /* Set the color to orange */
    cursor: pointer; /* Disable pointer events to prevent changes upon clicking */
}


/* 背景星　last nest  */
#particles-js{ 
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0)
  }
  
  #wrapper{
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
  }


/* 関連商品 */
.related-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* アイテム間のスペース */
    justify-content: center; /* アイテムを中央寄せ */
}

.related-products .item-products {
    width: 400px; /* 画像の幅 */
    display: flex;
    flex-direction: column; /* 要素を縦に並べる */
    align-items: center; /* アイテムを中央寄せ */
}

.related-products .item-products .product-info {
    width: 100%; /* 幅を100%に設定 */
}


.related-products img{
    width: 400px;
   
    
}



  




